[Unit]
Description=recurse
Wants=network.target
After=network.target

[Service]
Type=simple
DynamicUser=yes
User=recurse
ExecStart=/var/local/recurse/recurse
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
